
---
################################
## our HTTP server at port 80 ##
################################
server {
    listen 80 default_server;
    listen [::]:80 default_server;
    server_name _;
    return 301 https://$host$request_uri;
}

---
http {
    limit_req_zone $binary_remote_addr zone=one:10m rate=1r/s;
    upstream frontend {
        server frontend1.example.com:80;
        server frontend2.example.com:80;
   }

    proxy_cache_path /data/nginx/cache keys_zone=mycache:10m loader_threshold=300
                     loader_files=200 max_size=200m;

    ssl_certificate     common.crt;
    ssl_certificate_key common.key;

    server {
        listen       443 ssl;
        server_name  _;
        proxy_cache  mycache;
        proxy_pass   frontend;
        limit_req zone=one burst=5;
    }
}